{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">
  <div class="form-container">
    <h2 class="mb-4 fw-bold">Login</h2>
    <form method="POST">
      <input type="text" name="username" class="form-control mb-3" placeholder="Username" required>
      <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
      <button type="submit" class="btn w-100 mb-2">Login</button>
    </form>
    <p class="alt text-center mt-2">Don't have an account? <a href="{{ url_for('register') }}" class="text-primary fw-semibold">Register</a></p>
  </div>
</div>
{% endblock %}